<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ecommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/jsp/403.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.Register</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Seed</display-name>
    <servlet-name>Seed</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.Seed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Seed</servlet-name>
    <url-pattern>/Seed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditor</display-name>
    <servlet-name>UserEditor</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.users.UserEditor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditor</servlet-name>
    <url-pattern>/users/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersList</display-name>
    <servlet-name>UsersList</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.users.UsersList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersList</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
</web-app>