<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ecommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>  
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.Login</servlet-class>
  </servlet>
  
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.Register</servlet-class>
  </servlet>
  
  <servlet>
    <description></description>
    <display-name>Seed</display-name>
    <servlet-name>Seed</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.Seed</servlet-class>
  </servlet>
  
  <servlet>
    <description></description>
    <display-name>UploadArticle</display-name>
    <servlet-name>UploadArticle</servlet-name>
    <servlet-class>com.sheffield.ecommerce.servlets.UploadArticle</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Seed</servlet-name>
    <url-pattern>/Seed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadArticle</servlet-name>
    <url-pattern>/UploadArticle</url-pattern>
  </servlet-mapping>
  
  <context-param> 
    <description>Location to store uploaded articles</description> 
    <param-name>upload-articles</param-name> 
    <param-value>
         c:\apache-tomcat-5.5.29\webapps\data\
     </param-value> 
   </context-param>
</web-app>