<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
 
        <!-- hibernate dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 
 
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        

		<property name="hibernate.connection.url">jdbc:mysql://localhost/team160</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- <property name="hibernate.connection.url">jdbc:mysql://stusql.dcs.shef.ac.uk/team160</property>
        <property name="hibernate.connection.username">team160</property>
        <property name="hibernate.connection.password">d5335d29</property> -->
        
        <!-- <property name="hibernate.connection.url">jdbc:mysql://stusql.dcs.shef.ac.uk/aca11lh</property>
        <property name="hibernate.connection.username">aca11lh</property>
        <property name="hibernate.connection.password">14ff9799</property> -->
        
		<!-- 
        <property name="hibernate.connection.url">jdbc:mysql://stusql.dcs.shef.ac.uk/team160</property>
        <property name="hibernate.connection.username">team160</property>
        <property name="hibernate.connection.password">d5335d29</property>
         -->
        <!-- property name="hibernate.connection.url">jdbc:mysql://localhost/ecommerce</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property> -->
        
		<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost/team160</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
         -->
         
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
 
        <!-- Automatic schema creation (begin) === -->
		<!-- property name="hibernate.hbm2ddl.auto">create</property> -->

 
 
        <!-- Simple memory-only cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
 
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
        <!-- ############################################ -->
        <!-- # mapping files with external dependencies # -->
        <!-- ############################################ -->
 
        <mapping resource="com/sheffield/ecommerce/models/User.hbm.xml" />
        <mapping resource="com/sheffield/ecommerce/models/Journal.hbm.xml" />
        <mapping resource="com/sheffield/ecommerce/models/Volume.hbm.xml" />
        <mapping resource="com/sheffield/ecommerce/models/Edition.hbm.xml" />
        <mapping resource="com/sheffield/ecommerce/models/Article.hbm.xml" />
        <mapping resource="com/sheffield/ecommerce/models/Review.hbm.xml" />
        
 
    </session-factory>
</hibernate-configuration>
